<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <script>
        const chatSocket = new WebSocket('ws://localhost:8000/ws/globe/');

        chatSocket.onopen = function() {
            console.log('WebSocket connection established.');
        };

        chatSocket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.querySelector('#chat-log').innerHTML += (data.username + ': ' + data.message + '\n');
        };

        function sendMessage() {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': '{{user}}',
                'message': message,
            }));
            console.log('{{user}}')
            messageInputDom.value = '{{ user }}';
        }
    </script>
</head>
<body>
    <h1>Hello, {{ request.user.username }}!</h1>
    <div>
        <p id="chat-log"></p>
    </div><br>
    <input id="chat-message-input" type="text" size="100">
    <button onclick="sendMessage()">Send</button>
    {% if user.is_authenticated %}
        <H1>{{user}}</H1>
        <a href="{% url 'Authen.logout' %}">Logout</a>
    {% endif %}
</body>
</html>
